In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
dataset_path = r'./Orange_Telecom_Churn_Data.csv'
df = pd.read_csv(dataset_path)
df

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,HI,50,408,365-8751,no,yes,40,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,9.9,5,2.67,2,False
4996,WV,152,415,334-9736,no,no,0,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,14.7,2,3.97,3,True
4997,DC,61,415,333-6861,no,no,0,140.6,89,23.90,172.8,128,14.69,212.4,97,9.56,13.6,4,3.67,1,False
4998,DC,109,510,394-2206,no,no,0,188.8,67,32.10,171.7,92,14.59,224.4,89,10.10,8.5,6,2.30,0,False
4999,VT,86,415,373-8058,no,yes,34,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,9.3,16,2.51,0,False

In [4]:
df.isnull().sum()

state                            0
account_length                   0
area_code                        0
phone_number                     0
intl_plan                        0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churned                          0
dtype: int64

In [5]:
df.duplicated().sum()

0

# How many users on Voice Mail Plan?

In [6]:
voice_mail_users = df[df.voice_mail_plan == 'yes']
voice_mail_users

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False
16,ID,85,408,350-8884,no,yes,27,196.4,139,33.39,280.9,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4971,HI,128,510,409-8074,no,yes,28,115.4,96,19.62,185.4,94,15.76,209.3,69,9.42,17.7,4,4.78,0,False
4985,NC,118,510,344-6099,no,yes,31,226.6,99,38.52,164.9,136,14.02,189.3,120,8.52,10.2,5,2.75,3,False
4987,AR,127,415,397-4141,no,yes,27,157.6,107,26.79,280.6,49,23.85,75.1,77,3.38,8.0,4,2.16,1,False
4995,HI,50,408,365-8751,no,yes,40,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,9.9,5,2.67,2,False
4999,VT,86,415,373-8058,no,yes,34,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,9.3,16,2.51,0,False

In [7]:
print(f"Number of users who use Voice Mail: {voice_mail_users.shape[0]}")

Number of users who use Voice Mail: 1323

# What is the average of vmail messages for subscribed users only?

In [8]:
average_vmail_messages = voice_mail_users.number_vmail_messages.mean()
print(f"Average number of voice mail messages -> {int(average_vmail_messages)} messages.")

Average number of voice mail messages -> 29 messages.

# Total daylight minutes per state

In [9]:
total_daylight_minutes_per_state = df.groupby('state')[['total_day_minutes']].agg('sum')
total_daylight_minutes_per_state

       total_day_minutes
state
AK               13029.0
AL               23494.8
AR               16117.1
AZ               15704.7
CA                8992.5
CO               16935.5
CT               17382.1
DC               15173.3
DE               17253.1
FL               15872.7
GA               14648.1
HI               15239.0
IA               12073.4
ID               21696.0
IL               15201.3
IN               18443.0
KS               18996.0
KY               17936.9
LA               14236.8
MA               19044.5
MD               19479.5
ME               19147.9
MI               18207.1
MN               22829.1
MO               15767.5
MS               17476.3
MT               17623.7
NC               16435.6
ND               16076.2
NE               15219.1
NH               16875.6
NJ               21513.7
NM               15921.9
NV               16324.7
NY               20246.2
OH               21544.5
OK               16771.5
OR               20327.1
PA               14374.9
RI               17191.3
SC               15798.3
SD               15732.9
TN               15784.4
TX               21411.8
UT               21187.8
VA               21166.1
VT               18269.0
WA               17847.4
WI               18649.7
WV               27969.0
WY               20804.9

# Total daylight charge per state

In [10]:
total_daylight_charge_per_state = df.groupby('state')[['total_day_charge']].agg('sum')
total_daylight_charge_per_state

       total_day_charge
state
AK              2214.96
AL              3994.15
AR              2739.95
AZ              2669.85
CA              1528.75
CO              2879.09
CT              2954.99
DC              2579.55
DE              2933.09
FL              2698.40
GA              2490.23
HI              2590.63
IA              2052.57
ID              3688.39
IL              2584.26
IN              3135.36
KS              3229.35
KY              3049.40
LA              2420.31
MA              3237.57
MD              3311.58
ME              3255.24
MI              3095.25
MN              3881.04
MO              2680.57
MS              2971.03
MT              2996.03
NC              2794.11
ND              2733.05
NE              2587.27
NH              2868.93
NJ              3657.36
NM              2706.74
NV              2775.24
NY              3441.92
OH              3662.64
OK              2851.17
OR              3455.71
PA              2443.76
RI              2922.59
SC              2685.79
SD              2674.62
TN              2683.39
TX              3640.06
UT              3601.98
VA              3598.29
VT              3105.82
WA              3034.09
WI              3170.47
WV              4754.86
WY              3536.89

# Average call duration in day, eve and night

In [15]:
df[['total_day_minutes', 'total_eve_minutes', 'total_night_minutes']].mean()

total_day_minutes      180.28890
total_eve_minutes      200.63656
total_night_minutes    200.39162
dtype: float64

In [11]:
average_call_duration_per_state = df.groupby('state')[['total_day_minutes', 'total_eve_minutes', 'total_night_minutes']].agg('mean')
average_call_duration_per_state

       total_day_minutes  total_eve_minutes  total_night_minutes
state
AK            180.958333         189.683333           197.870833
AL            189.474194         199.669355           187.160484
AR            175.185870         197.918478           205.045652
AZ            176.457303         195.919101           191.632584
CA            172.932692         194.632692           199.767308
CO            176.411458         204.292708           188.827083
CT            175.576768         201.148485           202.327273
DC            172.423864         197.865909           210.781818
DE            183.543617         206.446809           206.054255
FL            176.363333         211.317778           198.220000
GA            176.483133         205.406024           199.346988
HI            177.197674         197.010465           202.823256
IA            174.976812         206.130435           196.721739
ID            182.319328         196.036134           200.358824
IL            172.742045         194.764773           198.651136
IN            188.193878         202.927551           206.103061
KS            191.878788         207.831313           201.553535
KY            181.180808         195.272727           201.533333
LA            173.619512         197.530488           197.231707
MA            184.898058         205.563107           200.425243
MD            190.975490         196.948039           199.264706
ME            185.901942         200.095146           201.589320
MI            176.767961         202.941748           193.939806
MN            182.632800         195.392000           206.110400
MO            169.543011         202.008602           211.568817
MS            176.528283         199.915152           203.384848
MT            178.017172         204.183838           196.240404
NC            180.610989         202.194505           196.284615
ND            182.684091         205.300000           198.453409
NE            172.944318         200.828409           200.345455
NH            177.637895         199.001053           208.702105
NJ            192.086607         196.508929           204.264286
NM            174.965934         205.087912           199.357143
NV            181.385556         203.613333           204.130000
NY            177.598246         197.599123           201.991228
OH            185.728448         199.786207           204.188793
OK            186.350000         198.648889           197.174444
OR            178.307895         203.647368           201.211404
PA            186.687013         196.759740           200.332468
RI            173.649495         209.662626           205.549495
SC            173.607692         205.023077           197.482418
SD            185.092941         201.030588           199.774118
TN            177.352809         204.528090           205.826966
TX            184.584483         201.212931           198.406034
UT            189.176786         197.180357           191.932143
VA            179.373729         199.824576           206.500000
VT            180.881188         207.662376           207.020792
WA            182.116327         202.316327           197.919388
WI            175.940566         196.321698           194.559434
WV            177.018987         191.993671           198.877848
WY            180.912174         202.876522           196.184348

# Total day minutes and charge (day, eve and night)

In [16]:
df[['total_day_charge', 'total_eve_charge', 'total_night_charge']].sum()

total_day_charge      153248.34
total_eve_charge       85271.61
total_night_charge     45088.66
dtype: float64

In [12]:
total_charge_per_state = df.groupby('state')[['total_day_charge', 'total_eve_charge', 'total_night_charge']].agg('sum')
total_charge_per_state

       total_day_charge  total_eve_charge  total_night_charge
state
AK              2214.96           1160.85              641.09
AL              3994.15           2104.54             1044.38
AR              2739.95           1547.75              848.91
AZ              2669.85           1482.14              767.52
CA              1528.75            860.31              467.46
CO              2879.09           1667.02              815.80
CT              2954.99           1692.70              901.41
DC              2579.55           1480.09              834.71
DE              2933.09           1649.56              871.63
FL              2698.40           1616.60              802.78
GA              2490.23           1449.16              744.56
HI              2590.63           1440.10              784.92
IA              2052.57           1208.98              610.87
ID              3688.39           1982.93             1072.93
IL              2584.26           1456.87              786.66
IN              3135.36           1690.39              908.90
KS              3229.35           1748.91              897.96
KY              3049.40           1643.23              897.84
LA              2420.31           1376.85              727.81
MA              3237.57           1799.76              929.01
MD              3311.58           1707.57              914.61
ME              3255.24           1751.85              934.36
MI              3095.25           1776.77              898.90
MN              3881.04           2076.08             1159.35
MO              2680.57           1596.90              885.41
MS              2971.03           1682.32              906.05
MT              2996.03           1718.24              874.24
NC              2794.11           1564.02              803.78
ND              2733.05           1535.67              785.86
NE              2587.27           1502.18              793.38
NH              2868.93           1606.95              892.20
NJ              3657.36           1870.76             1029.52
NM              2706.74           1586.36              816.35
NV              2775.24           1557.65              826.70
NY              3441.92           1914.76             1036.28
OH              3662.64           1969.91             1065.89
OK              2851.17           1519.75              798.53
OR              3455.71           1973.38             1032.23
PA              2443.76           1287.78              694.20
RI              2922.59           1764.33              915.74
SC              2685.79           1585.82              808.72
SD              2674.62           1452.44              764.18
TN              2683.39           1547.28              824.36
TX              3640.06           1983.96             1035.67
UT              3601.98           1877.21              967.31
VA              3598.29           2004.30             1096.53
VT              3105.82           1782.85              940.92
WA              3034.09           1685.35              872.86
WI              3170.47           1768.93              928.09
WV              4754.86           2578.40             1414.04
WY              3536.89           1983.10             1015.25